<h2 class="panel panel-body">Cadastro de Aluno</h2>
<div class="container-fluid">
    <form>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Nome:</label>
            <div class="col-sm-5">
                <select class="form-control" ng-model="aluno.CursoId">
                    <option value="">Selecione um Curso</option>
                    <option ng-repeat="lista in listaDeCursosSelect" value="{{lista.id}}">{{lista.nome}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNome" class="col-sm-1 col-form-label">Nome:</label>
            <div class="col-sm-5">
                <input ng-model="aluno.nome" type="text" class="form-control" id="inputNome" placeholder="Nome disciplina" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescricao" class="col-sm-1 col-form-label">CPF:</label>
            <div class="col-sm-5">
                <input ng-model="aluno.cpf" type="text" class="form-control" id="inputDescricao" placeholder="Descricao" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-1 col-form-label">Email:</label>
            <div class="col-sm-5">
                <input ng-model="aluno.email" type="email" class="form-control" id="inputEmail" placeholder="Email" required>
            </div>
        </div>
        <div>
            <label class="col-sm-1 col-form-label"></label>
            <button type="submit" class="btn btn-primary btn-group-lg" ng-click="salvarAluno(aluno)">
                <span class="glyphicon glyphicon-plus"></span>
                Cadastrar
            </button>
        </div>
    </form>
</div>